{% extends 'Shared/base.html' %}

{% block title %}Equity Trust Pacific - Contact{% endblock %}

{%  block body %}
    <div id="main">
        <div class="container">
            <div class="row">
                <section id="page-title" class="span12">
                    <h1>MERRY CHRISTMAS DAD</h1>
                    <h3>And a happy new year!</h3>
                    <hr>
                </section>
            </div>
            <section class="row">
                <div class="span12">
                    <p>
                        <span class="dropcap">N</span>ow, as you may have noticed, this site isn't quite finished. I didn't want to ruin the surprise so I figured it would be easier to get this information from you after the fact.
                        There are several places in the site that have 'Lorem Ipsum' in them instead of proper text. I'm not sure what you'd like there but as soon as you have an idea then tell me and I'll add whatever you like.
                        There is also the case of images. It seems that the only images available online were tiny thumbnails. If you can get me some nice big images then I can go about replacing the ones that I'm currently using.
                    </p>
                </div>
            </section>
        </div>
    </div>
{% endblock %}